@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply w-full overflow-x-hidden;
    margin: 0;
    padding: 0;
  }
  
  #root {
    @apply w-full min-h-screen;
  }
}

@layer utilities {
  /* Custom scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
