@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply w-full overflow-x-hidden;
    margin: 0;
    padding: 0;
  }
  
  #root {
    @apply w-full min-h-screen;
  }

  /* Smooth transition for dark mode */
  * {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }
}

@layer utilities {
  /* Custom scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-track {
    background: #0A0E1A;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 6px;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #242B3D;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #718096;
  }
}
